
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>LOGIN</h1>

        <label for="user">User:</label>
        <input type="text" id="user">
        <br>
        <label for="password">Password:</label>
        <input type="text" id="password">

        <button id="btnLogin">Log in</button>
    </div>
    <script>
        function login(params) {
            const user = document.getElementById('user').value
            const password = document.getElementById('password').value
            // console.log(user, password);
            // Make a GET request using Axios
            axios.post('http://localhost:3000/api/v1/login', {user, password})
                .then(function (response) {
                    // Handle the successful response
                    console.log('Response data:', response.data);
                })
                .catch(function (error) {
                    // Handle errors
                    console.error('Error:', error);
                });
        }


        let button = document.getElementById('btnLogin');
        button.addEventListener('click', login);
    </script>
</body>

</html>